<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新增教师</title>
    <th:block th:replace="/backstage/common_resources::common_css"></th:block>
    <th:block th:replace="/backstage/common_resources::common_js"></th:block>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<header th:replace="~{/backstage/common_header::header}"></header>
<aside th:replace="~{/backstage/common_aside::aside}"></aside>
<div class="wrapper">
    <div class="content-wrapper">
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                教师管理
                <small>新增种类</small>
            </h1>

        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">
            <form th:action="@{/backstage/fcategory/fatheradd}" method="post">
                <div class="row data-type">
                    <div class="col-md-2 title">父类</div>
                    <div class="col-md-4 data">
                        <input type="text" class="form-control" placeholder="父类" name="fcName">
                    </div>

                    <div class="col-md-2 title"></div>
                    <div class="col-md-10 data text-center">
                        <button type="submit" class="btn bg-maroon">保存</button>
                        <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                    </div>
                </div>
            </form>
        </section>
        <!-- 正文区域 /-->

    </div>
</div>
<footer th:replace="~{/backstage/common_footer::footer}"></footer>
</body>
</html>