<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
  <!--  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>牛逼牛逼牛到不行的首页</title>

    <th:block th:replace="/backstage/common_resources::common_css"/>
    <th:block th:replace="/backstage/common_resources::common_js"/>
</head>

<body class="hold-transition skin-purple sidebar-mini">
<header th:replace="~{/backstage/common_header::header}"></header>
<aside th:replace="~{/backstage/common_aside::aside}"></aside>
<div class="wrapper">
    <!-- 页面头部 -->

    <!-- 页面头部 /-->

    <!-- 导航侧栏 -->

    <!-- 导航侧栏 /-->

    <!-- 内容区域 -->
    <!-- @@master = admin-layout.html-->
    <!-- @@block = content -->

    <div class="content-wrapper">


    </div>
    <!-- @@close -->
    <!-- 内容区域 /-->

    <!-- 底部导航 -->

    <!-- 底部导航 /-->

</div>

<footer th:replace="~{/backstage/common_footer::footer}"></footer>
</body>

</html>