<!--导航侧栏-->
<html xmlns:th="http://www.thymeleaf.org">

<aside class="main-sidebar" th:fragment="aside">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/frontdesk/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p >
                    <span th:text="'欢迎同学,'+${session.studentInfo.stuName}"></span>

                </p>
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <!-- /.search form -->


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">菜单</li>
            <li id="student-index"><a href="/frontdesk/stu_index"><i class="fa fa-dashboard"></i> <span>首页</span></a>
            </li>
            <!-- 菜单 -->
            <li class="treeview" id="system">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>问题界面</span>
                    <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
                </a>
                <ul class="treeview-menu">
                    <li id="student">
                        <a href="/frontdesk/stu_commquestion/all">
                            <i class="fa fa-circle-o"></i>常见问题页（查看）
                        </a>
                    </li>

                    <li id="teacher">
                        <a th:href="@{/frontdesk/stu_answerquestion/ask_0}">
                            <i class="fa fa-circle-o"></i>提问
                        </a>
                    </li>


                </ul>
            </li>


            <li class="treeview" id="business">
                <a href="#">
                    <i class="fa fa-laptop"></i> <span>个人</span>
                    <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
                </a>
                <ul class="treeview-menu">
                    <li id="myAQ">
                        <a th:href="@{/frontdesk/stu_answerquestion/all(stuName=${session.studentInfo.stuName})}">
                            <i class="fa fa-circle-o"></i>我的问题
                        </a>
                    </li>

                    <li id="info">
                        <a th:href="@{/frontdesk/student/find(sid=${session.studentInfo.sid})}">
                            <i class="fa fa-circle-o"></i>个人信息
                        </a>
                    </li>

                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>