<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>提问</title>
    <th:block th:replace="/frontdesk/common_resources::common_css"></th:block>
    <th:block th:replace="/frontdesk/common_resources::common_js"></th:block>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<header th:replace="~{/frontdesk/stu_common_header::header}"></header>
<aside th:replace="~{/frontdesk/stu_common_aside::aside}"></aside>
<div class="wrapper">
    <div class="content-wrapper">
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                提问
                <small>提问</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="@{/frontdesk/stu_index}"><i class="fa fa-dashboard"></i> 首页</a></li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">
          <!--  <div class="col-md-2 title">问题类型</div>
            <div class="col-md-4 data" >
                <table id="collapse-table" class="table table-bordered table-hover dataTable">
                    <tbody th:each="fcate:${catefathers}">
                    <tr th:attr="data-tt-id=${fcate.fcid}">
                        <td th:text="${fcate.fcName}"></td>
                    </tr>
                    <tr th:each="cate:${fcate.cates}" th:attr="data-tt-parent-id=${fcate.fcid}" data-tt-id="1-1">
                        <td th:text="${cate.cName}"></td>
                    </tr>
                    </tbody>
                </table></div>-->
            <div class="row data-type">

                <form th:id="form" th:action="@{/frontdesk/stu_answerquestion/continue_ask_update}" method="post">
                    <!-- <div class="col-md-2 title">请选择问题具体类型</div>
                     <div class="col-md-4 data" >

                             <select class="form-control" name="cate">

                                 <optgroup th:each="fcate:${catefathers}" th:value="${fcate.fcName}">
                                     <option th:each="cate:${fcate.cates}" th:value="${cate.cName}"></option>
                                 </optgroup>

                             </select>

                     </div>-->
                    <div class="col-md-2 title">请选择问题父类</div>
                                         <div class="col-md-4 data" >
                                            <select  id="province" class="form-control">

                                            </select>

                                         </div>
                    <div class="col-md-2 title">请选择具体类型</div>
                    <div class="col-md-4 data" >
                                            <select   id="city1"  class="form-control" name="cate">



                                            </select>

                    </div>



                                        <!--    默认提交学生名字-->

                    <input type="hidden" class="form-control"  name="stuName"  th:value="${aq.stuName}">

                    <!--    默认提交提问时间-->
                    <input type="hidden" class="form-control"  name="qdate"  th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" >
                    <input type="hidden" class="form-control"  name="ansid"   th:value="${aq.ansid}" >

                    <!--<div class="col-md-2 title">状态</div>
                    <div class="col-md-4 data">
                        <select class="form-control" name="status">
                            <option value="true">开启</option>
                            <option value="false">关闭</option>
                        </select>
                    </div>-->
                    <div class="post">
                        <div class="user-block">
                    <span class="username">
                         学生问：
                    </span>
                        </div>
                        <div class="notice" th:utext="${aq.des}"></div>


                    <div class="col-md-2 title" >修改提问</div>
                    <div class="col-md-10 data" style="height: 350px">
                        <div id="div1"></div>
                        <textarea id="text1" name="des" style="width:100%; height:200px;" hidden ></textarea>
                        <script>
                            var E = window.wangEditor
                            var editor = new E('#div1')
                            var $text1 = $('#text1')
                            editor.customConfig.onchange = function (html) {
                                // 监控变化，同步更新到 textarea
                                $text1.val(html)
                            }
                            // 自定义菜单配置
                            editor.customConfig.menus = [
                                'head',  // 标题
                                'bold',  // 粗体
                                'fontSize',  // 字号
                                'fontName',  // 字体
                                'italic',  // 斜体
                                'underline',  // 下划线
                                'foreColor',  // 文字颜色
                                'backColor',  // 背景颜色
                                'justify',  // 对齐方式
                                'image',  // 插入图片
                                'undo',  // 撤销
                            ]
                            // 配置上传图片服务器端地址
                            editor.customConfig.uploadImgServer = '/frontdesk/stu_answerquestion/upload';
                            // 配置上传图片的参数名
                            editor.customConfig.uploadFileName = 'file';
                            editor.create()
                            // 初始化 textarea 的值
                            $text1.val(editor.txt.html())
                        </script>
                    </div>
                    <div class="col-md-2 title"></div>
                    <div class="col-md-10 data text-center">
                        <button type="submit" class="btn bg-maroon">保存</button>
                        <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- 正文区域 /-->
    </div>
</div>

<footer th:replace="~{/frontdesk/common_footer::footer}"></footer>
<script>
 /*   $(document).ready(function() {
        /!*table tree*!/
        $("#collapse-table").treetable({
            expandable: true
        });

    });
*/

/*
 $( function () {
    // 获取所有省
     alert(123)
     $.post("/frontdesk/stu_answerquestion/cities",function (data) {
         console.log(data);
         if(data != null){
             var str = '<option>请选择子类</option>\n';
             for (var i = 0;i < data.length;i++) {
                 str += '<option value='+data[i].id+'>'+ data[i].cName +'</option>\n';
             }
             $("#citiesss").html(str);
         }
     });})*/

    $(function () {
        // 获取所有省
        $.post("/frontdesk/stu_answerquestion/provinceList",function (data) {
            console.log(data);
            if(data != null){
                var str = '<option>请选择种类</option>\n';
                for (var i = 0;i < data.length;i++) {
                    str += '<option value='+data[i].id+'>'+ data[i].fcName +'</option>\n';
                }
                $("#province").html(str);
            }
        });
        // 获取所有市
        $.post("/frontdesk/stu_answerquestion/cityList",function (data) {
            console.log(data);
            if(data != null){
                var str = '<option>请选择子类</option>\n';
                for (var i = 0;i < data.length;i++) {
                    str +=  '<option value='+data[i].fcid+'>'+ data[i].cname +    '</option>\n';
                }
                $("#city").html(str);
            }
        });
// 根据省id获取对应的市
        $("#province").change(function (index) {
            console.log(index);
                        // alert(".....")
                        // 这里的val()后面的一对小括号别忘了，我就是因为这个找了很久的bug
                        // var id = $("#province").val();
                        // var id = $(this).attr('ItemId');
                        var myselect=document.getElementById("province");
                        let id = myselect.selectedIndex;
                        alert("id = "+ id);
                        if(id == ""){
                            return;
                        }
            // 获取所有市
            $.post("/frontdesk/stu_answerquestion/city/"+ id,function (data) {
                console.log(data);
                if(data != null){
                    var str = '<option>请参照左表选择子类</option>\n';
                    for (var i = 0;i < data.length;i++) {
                        str +=  '<option th:value='+data[i].fcid+'>'+ data[i].cname +'</option>\n';
                    }
                    $("#city1").html(str);
                }
            });
                        // var id = ${this}.attr('');
                       /* $.ajax({
                            type:"post",
                            url:"/frontdesk/stu_answerquestion/city/" + id,

                            success: function (data) {
                                console.log(data);
                    var opp = $("#city1").empty();
                    opp.append('<option>请选择城市</option>');
                    for (let i = 0; i < data.length; i++) {
                        opp += '<option value='+data[i].id+'>'+ data[i].cname +'</option>\n';
                    /!*    opp.append("<option value='"+city[i].id+"'>" + city[i].cName + "</option>");*!/
                    }

                }
            });*/
        });
    });



</script>
</body>