<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>评分失败</title>
    <th:block th:replace="/frontdesk/common_resources::common_css"></th:block>
    <th:block th:replace="/frontdesk/common_resources::common_js"></th:block>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <div class="content-wrapper">
        <h2>评分失败<a href="/frontdesk/stu_index">返回主页</a></h2>
    </div>
</div>
<footer th:replace="~{/frontdesk/common_footer::footer}"></footer>
</body>
</html>